{% extends 'main/layout.html' %}

{% block title %}Таблицы
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Доступные таблицы</h1>
        {% if instruments %}
        {% for el in instruments %}
            <div class="alert alert-warning">
                <h3>{{ el.title }}</h3>
                <p>{{ el.anons }}</p>
                {% if el.title == "Микрометры" %}
                <a href="{% url 'micrometers' %}"><button class="btn btn-warning">К таблице</button></a>
                {% else %}
                <a href="{% url 'calipers' %}"><button class="btn btn-warning">К таблице</button></a>
                {% endif %}
            </div>
        {% endfor %}
        {% else %}
            <p>Нет данных о таблицах</p>
        {% endif %}
    </div>
{% endblock %}